{% extends 'base/base.html' %}

{% block title %}
Detalhes de Canal de Marketing
{% endblock %}
{% block breadcrumb %}
<div>
    <h1><i class="fa fa-user fa-lg"></i> Canal Marketing</h1>
    <p>Detalhes do Canal de Marketing</p>
</div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="{% url 'calendarapp:all_canal' %}">Lista de Canal de Marketing</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}

    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'calendarapp:calendar' %}"> Calendar </a>
            <a class="btn btn-info right mr-2" href="{% url 'calendarapp:canal_edit' event.pk %}"> Editar Canal de Marketing </a>
        </div>
        <hr>

        <div class="clearfix">
            <h3>Canal Marketing: {{ event.nome }}</h3>
        </div>
{% endblock %}
