{% extends 'base/base.html' %}

{% block title %}
Event Details
{% endblock %}
{% block breadcrumb %}
<div>
    <h1><i class="fa fa-user fa-lg"></i> Events</h1>
    <p>Event Details</p>
</div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="{% url 'calendarapp:all_events' %}">Event List</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'calendarapp:calendar' %}"> Calendar </a>
            <a class="btn btn-info right mr-2" href="{% url 'calendarapp:event_edit' event.pk %}"> Editar Evento </a>
        </div>

        <div class="clearfix">
            <hr>
            <h3>{{ event.title }}</h3>
            <h5>Inicío: <span style="color: gray;">{{ event.start_time }}</span> Fim: <span style="color: gray;">{{ event.end_time }}</span></h5>
            <hr>
            <section class="section">
                {{ event.description }}
            </section>
        </div>
    </div>
{% endblock %}
