{% extends 'base/base.html' %}

{% block breadcrumb %}
<div>
    <h1><i class="fa fa-user fa-lg"></i> Usuário</h1>
    <p>Detalhes do Usuário</p>
</div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:user-list' %}">Lista de Usuário</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2 class="mt-5 mb-4">Senha Alterada com Sucesso</h2>
        <p>Peça ao usuário que troque a senha assim que entrar.</p>
        <h3>Nova Senha: {{senha_reset}}</h3>
        <button class="btn btn-primary" onclick="copyPasswordToClipboard('{{ senha_reset }}')">Copiar Senha</button>
    </div>
</div>

<script>
    function copyPasswordToClipboard(password) {
        const tempInput = document.createElement("input");
        tempInput.value = password;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        alert("Senha copiada para a área de transferência");
    }
</script>
{% endblock %}
