{% extends 'base/base.html' %}

{% block title %}
Detalhes do Usuário
{% endblock %}
{% block breadcrumb %}
<div>
    <h1><i class="fa fa-user fa-lg"></i> Usuário</h1>
    <p>Detalhes do Usuário</p>
</div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:user-list' %}">Lista de Usuário</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}

    <div class="container">
        

        <div class="clearfix">
            <h3>Usuário : {{ event.email }}</h3>
        </div>
        <hr>
        <div class="clearfix">
            <a class="btn btn-danger right" href="{% url 'accounts:reset-user-password' user_id=event.id %}"> Resetar Senha </a>
        </div>
{% endblock %}
